.container {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdownContainer {
    overflow: hidden;
}

.edge {
    stroke: '#1b4568';
    stroke-width: 3;
}
