.background {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.legend {
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
    border-width: 4px;
    border-color: #fcd34d;
    background-color: #fffbeb;
    padding: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: #09223a;
}

.colorSampleText {
    margin-left: 0.5rem;
}

.legendPanelText {
    margin-top: 0.5rem;
}

.colorSampleContainer {
    margin-bottom: 0.5rem;
    display: flex;
}

.juniorColorSample {
    width: 1rem;
    height: 1rem;
    border-width: 2px;
    border-color: #fcd34d;
    background-color: #60a5fa;
}

.seniorColorSample {
    width: 1rem;
    height: 1rem;
    border-width: 2px;
    border-color: #fcd34d;
    background-color: #dc2626;
}

.legendButton {
    border-radius: 0.75rem;
    border-width: 4px;
    border-color: #fcd34d;
    background-color: #fffbeb;
    padding: 0.25rem;
    font-weight: 900;
    color: #09223a;
}

.detailPanel {
    width: 320px;
    height: 96%;
    border-radius: 1.5rem;
    border-width: 4px;
    border-color: #fcd34d;
    background-color: #fffbeb;
    padding: 0.5rem;
    font-weight: 800;
    display: 'block';
}

.closeButton {
    margin-bottom: 0.25rem;
    border-radius: 0.75rem;
    background-color: #09223a;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #ffffff;
}

.detailTitle {
    border-top-width: 4px;
    border-color: #dc2626;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #09223a;
}

.descriptionContainer {
    max-height: 30%;
    overflow-y: auto;
    border-top-width: 4px;
    border-color: #dc2626;
}

.description {
    padding: 0.25rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #09223a;
}

.memberList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-top-width: 4px;
    border-color: #dc2626;
    padding: 0.25rem 0;
}
